certifi==2020.12.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
idna==2.10
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.1.0
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.0.3
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
PySocks==1.7.1
python-dotenv==0.17.1
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
requests==2.25.1
stem==1.8.0
urllib3==1.26.4